<h1>Welcome to BDFL System</h1>
<% if current_user && current_user.admin %>
    <%= link_to 'Products', products_path %>
    <%= link_to 'Orders', orders_path %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <%# <%= link_to 'Add user', new_user_registration_path%>
<%else %>
    <%= link_to 'Sign Up', new_user_registration_path%>
    <%= link_to 'Sign In', new_user_session_path%>
    <%= link_to 'View Products', products_path %>
    <%= link_to 'Place Order', orders_path %>
<%end%> 